In [1]:
# Create a list

my_list = [10, 20, 30, 'apple', 'true', 8, 10]
print(my_list)

[10, 20, 30, 'apple', 'true', 8, 10]

In [2]:
# Reverse the list

reversed_list = my_list[::-1]
print(reversed_list)

[10, 8, 'true', 'apple', 30, 20, 10]

In [2]:
# Append new elements to the list

my_list.append(30)
my_list.append(40)

In [4]:
print(my_list)

[10, 20, 30, 'apple', 'true', 8, 10, 30, 40]

In [5]:
# Create a dictionary

a = {1: 'data', 2: 'information', 3: 'test'}
print(a)

{1: 'data', 2: 'information', 3: 'test'}

In [6]:
# Delete an item

del a[3]
print(a)

{1: 'data', 2: 'information'}

In [22]:
# Add a new item

a[3] = 'features'
print(a)

{1: 'data', 2: 'information', 3: 'features'}

In [ ]:
print(a[1])
print(a)

data
{1: 'data', 2: 'information', 3: 'features'}

In [8]:
# Create tuples


tuple1 = (1, 2, 3, 'apple', 'mango')
tuple2 = (10, 20, 30, 40, 50)
print(tuple1)
print(tuple2)

(1, 2, 3, 'apple', 'mango')
(10, 20, 30, 40, 50)

In [9]:
#minimum value in a tuple

small_value = min(tuple2)
print(small_value)

10

In [10]:
# Concatenate tuples

concatenate = tuple1 + tuple2
print(concatenate)

(1, 2, 3, 'apple', 'mango', 10, 20, 30, 40, 50)

In [11]:
# Duplicate the concatenated tuple

duplicate = concatenate * 2
print(duplicate)

(1, 2, 3, 'apple', 'mango', 10, 20, 30, 40, 50, 1, 2, 3, 'apple', 'mango', 10, 20, 30, 40, 50)

In [12]:
# Create sets
set1 = {1, 2, 3, 4, 5}
set2 = {1, 2, 3, 6, 7}

In [13]:
print(set1)
print(set2)

{1, 2, 3, 4, 5}
{1, 2, 3, 6, 7}

In [14]:
union = set1.union(set2)
print(union)

{1, 2, 3, 4, 5, 6, 7}

In [15]:
intersection = set1.intersection(set2)
print(intersection)

{1, 2, 3}

In [20]:
difference = set1.difference(set2)
print(difference)
print(set1,set2,union,intersection,difference)

{4, 5}
{1, 2, 3, 4, 5} {1, 2, 3, 6, 7} {1, 2, 3, 4, 5, 6, 7} {1, 2, 3} {4, 5}